
.root, html, body {
  height: 100%;
  margin: 0;
  background-color: #000;
  font-family: sans-serif;
  position: absolute;
  width: 100%;
}

.root {
  display: flex;
  flex-direction: column; 
}

.panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;  
  background-color: #F7F7F2;
  padding: 10px;
  // border-style: solid;
  // border-width: 1px;
  // border-color: #fff;
  // border-top-left-radius: 7px;
	// border-top-right-radius: 5px;
	// border-bottom-right-radius: 6px;
  // border-bottom-left-radius: 8px;
  //width: 100%;
  height:100%;
  min-height: 625px;
  min-width: 300px;
}

.resistor {
  flex-direction: column;
  display:flex;
  position: relative;
  overflow: hidden;
  border-width :1px;
  border-color : #ccc;
  width: 400px;
  height: 64px;
  margin: 10px;
}

.resistor-img {
  position: relative;
  width: 400px;
  height: 64px;
}

.band-one {
  width:25px; 
  height:55px; 
  position:absolute;
  left: 137px;
  top: 5px;
  display: flex;
}

.band-two {
  width:15px; 
  height:55px; 
  position:absolute;
  left: 170px;
  top: 5px;
}

.band-three {
  display:flex;
  width:15px; 
  height:55px; 
  position:absolute;
  left: 197px;
  top: 5px;
}

.band-multiplier {
  width:15px; 
  height:55px; 
  position:absolute;
  left: 197px;
  top:5px;
}

.band-tolerance {
  width:15px; 
  height:55px; 
  position:absolute;
  position:absolute;
  left: 243px;
  top:5px;
}

.color-code-table {
  display:flex;
  flex-direction: row;
  max-height: 400px;
  height: 100%;
  max-width: 350px;
  width: 100%;
}

.column:first-child {
  margin:2.5px;
  margin-left:0px;
}

.column:last-child {
  margin:2.5px;
  margin-right:0px;
}

.column:not(:first-child):not(:last-child){

  margin: 2.5px;
}

.column{
  display:flex;
  flex-direction: column;
  flex: 1;
}

.row{
  display:flex;
  flex-direction: column;
  flex: 1 0; 
  justify-content: center;
  align-items: center;
  border-style:solid; 
  border-width:1px; 
  border-color:#ccc;
  margin-top:2.5px;
  margin-bottom:2.5px;
  min-height: 20px;
}

.homer{
  position: absolute;
  bottom:0px;
  left:0px;
}

.btnPrimary{
  min-width: 75px;
  height: 35px;
  background-color: #007ACC;
  color: #fff;
  border: none;
  margin-top: 10px;
}

